.food-display {
    margin-top: 30px;
    font-size: max(2vw, 24px);
  }
  
  .food-display h3 {
    font-weight: 500;
    color: orangered;
  }
  
  .food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
  }
  